$icomoon-font-family: "ky" !default;
$icomoon-font-path: "/assets/font/icon/" !default;

$icon-chevron-right-thin: "\e907";
$icon-menu: "\e906";
$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-twitter: "\e904";
$icon-youtube: "\e905";
$icon-right-arrow-forward: "\e900";

